<%- include("./partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/BMI_IMG.jpg" alt="cat profile">
<p>
  Welcome to the BMI Calculator, a user-friendly tool designed by Abdullah Ali to help you quickly and accurately calculate your Body Mass Index (BMI). Using advanced algorithms, this calculator takes your height and weight to provide a precise BMI score, offering insights into your overall health.

  The BMI Calculator is built with a robust tech stack that includes HTML, CSS, JavaScript, Node.js, Express, and EJS. Every aspect of the tool has been carefully crafted to ensure a seamless user experience, from the intuitive design to the efficient calculations.
  
  We are committed to providing a reliable and efficient tool to assist you in managing your health. All rights to this innovative solution are reserved by Mohd Abdullah. We hope you find this tool helpful and easy to use as you take steps towards a healthier lifestyle.</p>

  <%- include("./partials/footer.ejs") %>